extends layout

block content
  br
  .container
    .well.well-lg.col-md-6.col-md-offset-3
      h3.text-center.font-bold
        | 知情同意书
      hr
      p(style='text-indent: 2em; font-size: 16px') 本次测试是学校组织实施的大学新生校园生活与心理健康状况调查，其目的是对一年级新生（含研一和博一）的校园生活和心理健康状况进行评估，促进测试参与者达成更高的心理健康目标。
      p(style='text-indent: 2em; font-size: 16px') 本测试系统由一些自评的（即由受测试者自己评定的）单项选择题目组成。
      p(style='text-indent: 2em; font-size: 16px') 认真、诚实地回答每个问题是得到有实际价值结果的前提和基础，希望能得到你的配合。
      p(style='text-indent: 2em; font-size: 16px') 你有权从本校心理咨询中心获知你个人的测试结果以及结果解释。
      p(style='text-indent: 2em; font-size: 16px') 学校将对个人测试结果进行保密，除你本人之外，只有学校心理健康教育的专业老师在需要为你提供心理健康服务时才会接触和使用。
      p(style='text-indent: 2em; font-size: 16px') 测试结果不会影响你的学籍、入党、奖励、升学和就业。
      h4.text-center
        | 基于如上情况，我自愿参加并按照要求完成本次调研。
      a.btn.btn-block.btn-primary(href='/intro2') 下一步



