extends layout

block content
  br
  .container
    .well.well-lg.col-md-6.col-md-offset-3
      h3.text-center.font-bold
        | 测试注意事项
      hr
      p(style='text-indent: 2em; font-size: 16px') 测试过程中，如果网页意外关闭，请不要担心，只要你重新输入自己的学号和密码登录后，测评系统会让你从未完成的部分继续回答问题；
      p(style='text-indent: 2em; font-size: 16px') 下面我们的测试正式开始。
      a.btn.btn-block.btn-primary(href='/yjs1') 开始答题








