extends layout

block content
  br
  .container
    .well.well-lg.col-md-6.col-md-offset-3
      h3.text-center.font-bold
        | 测试注意事项
      hr
      p(style='font-size: 16px') &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp每一题的回答包括选择选项和确认两步。在具体选项确认之前，你可以修改选项，但是确认以后，系统自动进入下一题页面，无法修改该题选项。
      p(style='font-size: 16px') &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp例如：
      p(style='font-size: 16px') &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp在选择第1题选项的时候，你刚开始选择了选项A，后来觉得选项C更合适，此时你只需要用鼠标选定C即可。但是一旦你确认了A选项，系统就自动进入第2题的页面，不允许你回去修改第1题的选择；
      br
      br
      a.btn.btn-block.btn-primary(href='/intro4') 下一步






