extends layout

block content
  br
  .container
    .well.well-lg.col-md-6.col-md-offset-3
      h3.text-center.font-bold
        | 测试注意事项
      hr
      p(style='text-indent: 2em; font-size: 16px') 测试问题简单易懂，但测试需要在相对安静、平和的环境下独立完成，请保持安静，不要与其他人讨论或者交流；
      p(style='text-indent: 2em; font-size: 16px') 本测验不对答题速度做具体限制，你按照自己习惯的节奏不紧不慢答题即可；
      p(style='text-indent: 2em; font-size: 16px') 问题回答完毕即可当场获得个人结果；
      p(style='text-indent: 2em; font-size: 16px') 测试较长，可能需要30分钟以上的时间（绝大部分同学能在40分钟内完成本测试），请预留足够时间并做好相关准备；
      a.btn.btn-block.btn-primary(href='/intro3') 下一步



