doctype html
html
  head
    title 上海交通大学2016级新生心理调研
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src="/bootstrap-validator/dist/validator.min.js")
  body
    block content
    br